# fly.toml app configuration file generated for mink-client on 2024-01-30T10:46:01-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mink-client'
primary_region = 'sea'

[build]

[http_service]
  checks = []
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
